In [1]:
from IPython.display import display
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error
from scipy.stats import zscore
import gzip
import os
import csv
from alive_progress import alive_bar
from collections import defaultdict


years_Columns = list(range(1800,2000)) 
directory = 'C:/Users/bincl/BA-Thesis/Dataset/2gram/'

c:\Users\bincl\AppData\Local\Programs\Python\Python311\Lib\site-packages\scipy\__init__.py:169: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, col, element_at, slice, size, regexp_extract, transform, when, explode, \
monotonically_increasing_id, map_from_arrays, lit, udf,collect_list, row_number, ceil, map_keys, expr, from_json
from pyspark.sql.types import ShortType, ArrayType, LongType, StringType
from pyspark.sql import types as T

import pandas as pd

#path = 'C:/Users/bincl/BA-Thesis/Dataset/2gram/2_20000_nopos_ab.gz'
path = 'C:/Users/bincl/BA-Thesis/Dataset/3gram/3_20000_nopos_sample/3_20000_nopos_sample.gz'

spark = SparkSession.builder.appName('3gramSQL').getOrCreate()

raw_input_df = spark \
                .read.csv(path, sep='\n',quote="").withColumnRenamed('_c0', 'Input')

split_df = raw_input_df \
                .select(split('Input', '\t').alias('SplitInput')) \
                .select(element_at('SplitInput', 1).alias('Tokens'),
                        slice('SplitInput', 2,
size('SplitInput')).alias('Data')) \
                .select('Tokens', 'Data') \

df_3gram = split_df.select('Tokens', transform('Data', lambda d:
split(d, ',')).alias('Data')) \
                .select('Tokens', transform('Data', lambda x:
x[0]).alias('Year'),
                        transform('Data', lambda x:
x[1]).cast(ArrayType(LongType())).alias('Occurrences')) \
                .select('Tokens', map_from_arrays('Year',
'Occurrences').alias('Data')) \
                .select(['Tokens', 'Data'])

In [3]:
from os import listdir
from os.path import isfile, join

pathlist = [directory + f for f in listdir(directory) if isfile(join(directory, f))]

spark2 = SparkSession.builder.appName('3gramSQL').getOrCreate()

raw_input_df2 = spark2 \
                .read.csv(pathlist, sep='\n',quote="").withColumnRenamed('_c0', 'Input')

split_df2 = raw_input_df2 \
                .select(split('Input', '\t').alias('SplitInput')) \
                .select(element_at('SplitInput', 1).alias('Tokens'),
                        slice('SplitInput', 2,
size('SplitInput')).alias('Data')) \
                .select('Tokens', 'Data') \

df_2gram = split_df2.select('Tokens', transform('Data', lambda d:
split(d, ',')).alias('Data')) \
                .select('Tokens', transform('Data', lambda x:
x[0]).alias('Year'),
                        transform('Data', lambda x:
x[1]).cast(ArrayType(LongType())).alias('Occurrences')) \
                .select('Tokens', map_from_arrays('Year',
'Occurrences').alias('Data')).select(['Tokens', 'Data'])

In [4]:
# if id set as default parameter then a list is given if not a spark dataframe is given as parameter df
def get_pd_df(df):
    
    matched = df['Data'] 
    matched_pandas_df = pd.Series(matched)
    matched_pandas_df.sort_index(inplace = True)

    matched_pandas_df.index.astype('int')
    numbers = list(range(1500,2020))
    numbers = map(str, numbers)
    matched_pandas_df = matched_pandas_df.reindex(numbers, fill_value= 0)
    return matched_pandas_df

def get_pd_df_from_string(suchstring, df):
    x = df.select(['Tokens', 'Data']).where(df.Tokens == suchstring)
    matched = x.first()['Data']
    matched_pandas_df = pd.Series(matched)
    matched_pandas_df.sort_index(inplace = True)

    matched_pandas_df.index.astype('int')
    numbers = list(range(1500,2020))
    numbers = map(str, numbers)
    matched_pandas_df = matched_pandas_df.reindex(numbers, fill_value= 0)
    return matched_pandas_df

In [5]:
# deprecated zu langsam
def find_n_gram(direc, find):
    for filename in os.listdir(direc):
        f = os.path.join(direc, filename)
        # checking if it is a file
        if os.path.isfile(f):
            print(f)
            with gzip.open(f,'rt', encoding='utf-8') as input:
                str_arr_csv = input.readlines()
                for line in str_arr_csv:
                    token = line.split("\t")
                    if find == token[0]:
                        return line
                        
    return "line not found" 

def start_the_search(directory,search):
    result = find_n_gram(directory,search)
    
    if result == "line not found":
        print(result)
        exit()
    result = result.split("\t")
    lower_ngram = pd.Series(result[1:],dtype= "string", name = result[0])
    return lower_ngram

In [6]:
def getLowerLevelString(string):
   first, *middle, last = string.split()
   first = first + " " + ''.join(middle)
   last = ''.join(middle) + " " + last
   return first, last

def MLR(data):
    token = data['Tokens']
    first,last = getLowerLevelString(token)
    print(first)
    print(last)
    first = get_pd_df_from_string(first,df_2gram)
    last = get_pd_df_from_string(last,df_2gram)
    
    X = pd.concat([first,last],axis=1)
    y = get_pd_df(data)
    print(X)
    print(y)
    reg = LinearRegression()
    reg.fit(X, y) 
    
    return reg.coef_,reg.intercept_,X,y

def buildApproximation(c1,c2,basevalue,df):
    df = df.astype('float')
    df['scaledFirst'] = df.iloc[:,0].apply(lambda x: x * c1) 
    df['scaledLast'] = df.iloc[:,1].apply(lambda x: x * c2) 
    df['approximation'] = df['scaledFirst'] + df['scaledLast'] + basevalue
    return df

In [7]:
def compressWithError2gram(firstN,error):
    df_3_gram = df_3gram.head(firstN)
    result = []
    all = []
    sum = []
    
    
    with alive_bar(firstN) as bar:
        
        for i in range(1,firstN):
            data = df_3_gram[i]
            token = data['Tokens']
            coef,intercept,dfAprox,original = MLR(data)
            c1,c2 = coef
            df = buildApproximation(c1,c2,intercept,dfAprox)
            dfOriginal = pd.DataFrame()
            dfOriginal['values'] = original
            dfOriginal['values'] = dfOriginal['values'].apply(pd.to_numeric, errors='coerce')
            #dfOriginal= pd.to_numeric(dfOriginal)
            dfOriginal['zscore'] = zscore(dfOriginal)
            df['zscore'] = zscore(df['approximation'])
            
            sum.append(pd.to_numeric(dfOriginal['values']).sum()) 
            
            rmse = mean_squared_error(dfOriginal['zscore'], df['zscore'], squared = False)
            #rmse = mean_squared_error(dfOriginal, df['approximation'])
            if rmse <= error:
                result.append([token,rmse,dfOriginal['values'],dfOriginal['zscore'],df['approximation'],df['zscore']]) 
            all.append(rmse)    
            bar()
    return result, all, sum

In [8]:
result, all, sum = compressWithError2gram(10, 0.05)
print(len(result))

on 0: [Row(Tokens='" Bis seine', Data={'2012': 6, '2011': 1, '2010': 3, '1998': 10, '1876': 1, '1754': 1, '1875': 2, '1897': 2, '1952': 2, '1852': 2, '1951': 1, '1993': 1, '2003': 2, '1936': 1, '1736': 1, '2001': 1, '2000': 1, '2019': 1, '1985': 1, '2018': 1, '1841': 1, '2017': 10, '1840': 2, '1884': 1, '1961': 1, '2016': 5, '2015': 5, '2014': 5, '2013': 7, '1828': 1, '1927': 4, '1867': 1, '1922': 10}), Row(Tokens='" -- Vorgehen', Data={'2012': 1, '2011': 4, '2010': 5, '1998': 5, '2009': 1, '1975': 2, '1997': 3, '2008': 13, '1996': 4, '2007': 6, '1973': 1, '2006': 1, '1972': 1, '2005': 7, '1971': 1, '1993': 1, '2004': 3, '1992': 1, '2003': 4, '1991': 1, '2002': 3, '1916': 1, '1979': 1, '1978': 3, '1977': 2, '1999': 4, '1909': 1, '1908': 1, '1990': 2, '2001': 3, '2000': 8, '1986': 1, '2019': 4, '1886': 2, '2018': 3, '1984': 4, '2017': 4, '1983': 2, '2016': 3, '1982': 1, '2015': 3, '2014': 5, '1980': 2, '2013': 28, '1907': 1, '1902': 2, '1989': 2, '1988': 1}), Row(Tokens='" : Oesterreich', Data={'1919': 1, '1855': 1, '1899': 2, '1910': 1, '1854': 1, '1898': 1, '1874': 2, '2006': 1, '1850': 1, '1872': 4, '1871': 1, '1870': 1, '1917': 1, '1915': 1, '1937': 1, '1859': 3, '1636': 1, '1856': 2, '1911': 2, '1908': 2, '1692': 1, '1890': 4, '2000': 1, '1844': 1, '1743': 1, '2018': 1, '1940': 1, '1984': 1, '1861': 5, '1883': 2, '1907': 2, '1904': 1, '1903': 2, '1925': 1, '1845': 6}), Row(Tokens='" Geht \'s', Data={'1855': 8, '1976': 14, '1854': 3, '1975': 15, '1974': 16, '1698': 1, '1852': 6, '1973': 13, '1851': 7, '1972': 19, '1850': 8, '1971': 10, '1970': 27, '1859': 9, '1858': 12, '1979': 23, '1857': 7, '1978': 18, '1856': 6, '1977': 21, '1909': 35, '1908': 70, '1990': 20, '1866': 4, '1987': 35, '1865': 3, '1986': 23, '1864': 11, '1985': 29, '1863': 6, '1984': 19, '1862': 16, '1983': 11, '1861': 13, '1982': 27, '1860': 6, '1981': 13, '1980': 21, '1907': 20, '1906': 45, '1905': 42, '1904': 36, '1903': 39, '1869': 16, '1902': 25, '1868': 12, '1901': 24, '1989': 17, '1867': 15, '1900': 42, '1988': 23, '1919': 29, '1880': 5, '1877': 20, '1910': 48, '1998': 20, '1876': 3, '1997': 16, '1875': 11, '1996': 24, '1874': 9, '1995': 36, '1873': 7, '1994': 11, '1872': 10, '1993': 29, '1871': 8, '1992': 5, '1870': 3, '1991': 14, '1918': 15, '1917': 30, '1916': 26, '1915': 32, '1914': 53, '1913': 40, '1879': 13, '1912': 35, '1878': 4, '1911': 28, '1999': 20, '1891': 14, '1890': 12, '1888': 22, '1921': 27, '1887': 14, '1920': 15, '1886': 6, '1885': 4, '1884': 7, '1883': 2, '1640': 1, '1882': 5, '1881': 16, '1929': 18, '1928': 28, '1927': 18, '1926': 23, '1925': 37, '1924': 17, '1923': 22, '1889': 22, '1922': 31, '1899': 18, '1932': 21, '1898': 33, '1931': 21, '1897': 34, '1930': 19, '1896': 30, '1895': 36, '1894': 12, '1893': 22, '1892': 15, '1939': 17, '1938': 15, '1937': 19, '1936': 12, '1935': 16, '1934': 12, '1933': 14, '2001': 33, '2000': 58, '1943': 19, '1942': 20, '1941': 14, '1940': 5, '1949': 15, '1948': 11, '1947': 20, '1825': 1, '1946': 12, '1824': 2, '1945': 8, '1944': 13, '2012': 864, '2011': 462, '2010': 312, '1954': 14, '2009': 263, '1953': 10, '2008': 185, '1952': 17, '2007': 117, '1830': 2, '1951': 14, '2006': 87, '1950': 8, '2005': 87, '2004': 80, '2003': 52, '2002': 63, '1839': 1, '1838': 1, '1959': 22, '1837': 1, '1958': 22, '1836': 9, '1957': 8, '1835': 4, '1956': 12, '1955': 14, '1844': 3, '1965': 29, '1843': 2, '1964': 24, '2019': 1875, '1963': 30, '2018': 1863, '1841': 3, '1962': 25, '2017': 1898, '1840': 3, '1961': 24, '2016': 2046, '1960': 10, '2015': 1901, '2014': 2036, '2013': 1292, '1849': 2, '1848': 15, '1969': 28, '1847': 2, '1968': 17, '1846': 7, '1967': 25, '1845': 3, '1966': 16}), Row(Tokens='" Geschlecht \'', Data={'1899': 1, '1932': 1, '1976': 1, '1854': 3, '1898': 2, '1930': 2, '1974': 2, '1972': 1, '1971': 3, '1858': 1, '1979': 1, '1934': 1, '1977': 1, '1990': 1, '2001': 4, '2000': 5, '1987': 1, '1986': 1, '1985': 4, '1949': 1, '1948': 1, '1947': 1, '1902': 1, '1946': 1, '1901': 2, '1989': 2, '1900': 2, '1919': 1, '2011': 15, '2010': 2, '1998': 8, '2009': 1, '1953': 1, '1997': 3, '2008': 3, '1754': 1, '1875': 1, '1996': 2, '2007': 20, '1995': 1, '2006': 14, '1950': 1, '1994': 4, '2005': 22, '1872': 3, '2004': 12, '2003': 10, '1991': 5, '2002': 5, '1916': 2, '1915': 1, '1957': 1, '1956': 1, '1999': 8, '1965': 3, '1964': 1, '2019': 1, '2018': 3, '2017': 22, '1961': 1, '2016': 3, '1960': 3, '2015': 6, '2014': 7, '2013': 46, '1928': 1, '1969': 1, '1923': 1, '1967': 2}), Row(Tokens='" Hanns und', Data={'1976': 1, '1876': 2, '1997': 4, '1875': 2, '1897': 6, '1996': 3, '1896': 3, '1995': 1, '2004': 1, '1970': 2, '1991': 1, '2002': 2, '1916': 1, '1938': 2, '1915': 1, '1737': 1, '1858': 1, '1934': 2, '1956': 5, '1878': 2, '1955': 1, '1909': 1, '2001': 14, '1822': 1, '1921': 2, '1986': 1, '2019': 13, '1985': 2, '2018': 8, '1863': 4, '2017': 1, '1762': 1, '1907': 2, '1906': 3, '1905': 1, '1927': 6, '1903': 1, '1969': 2, '1902': 4, '1901': 1, '1967': 1, '1922': 3}), Row(Tokens='" ES darf', Data={'1880': 1, '1855': 1, '1899': 1, '1932': 1, '1854': 3, '1853': 3, '1875': 1, '1850': 2, '1872': 2, '1870': 2, '1818': 1, '1915': 1, '1859': 3, '1858': 1, '1857': 5, '1879': 3, '1912': 1, '1934': 1, '1856': 1, '1878': 2, '1911': 1, '1908': 1, '1866': 1, '1921': 1, '1821': 1, '1865': 2, '1864': 1, '1863': 1, '1940': 1, '1861': 1, '1883': 1, '1860': 1, '1882': 1, '2013': 1, '1829': 1, '1728': 1, '1849': 6, '1904': 1, '1848': 1, '1846': 1, '1868': 2, '1901': 1, '1801': 1, '1823': 1, '1845': 1, '1867': 1}), Row(Tokens='" % ihres', Data={'1919': 1, '1880': 1, '1855': 1, '1910': 1, '1898': 1, '1897': 1, '1874': 2, '1893': 1, '1892': 1, '1918': 2, '1839': 1, '1915': 1, '1913': 4, '1912': 2, '1878': 1, '1911': 4, '1909': 1, '1908': 2, '1866': 1, '1888': 1, '1887': 1, '1920': 1, '1841': 1, '1885': 2, '1862': 1, '1883': 1, '1927': 1, '1904': 1, '1948': 1, '1869': 1, '1924': 1, '1846': 1, '1901': 2, '1867': 1, '1900': 1}), Row(Tokens='" Action pour', Data={'2012': 2, '2011': 2, '2010': 1, '2009': 1, '2007': 1, '1995': 1, '1950': 1, '2005': 1, '2004': 2, '1970': 1, '1992': 3, '2003': 2, '2002': 5, '1979': 4, '1978': 1, '1977': 1, '1999': 1, '2001': 3, '2000': 1, '1987': 1, '1986': 1, '2019': 1, '2017': 1, '2015': 2, '1980': 9, '1969': 3, '1845': 4}), Row(Tokens='" Der Anker', Data={'1976': 2, '1975': 3, '1853': 1, '1974': 2, '1973': 5, '1851': 5, '1972': 6, '1971': 4, '1970': 9, '1859': 10, '1979': 6, '1978': 3, '1977': 1, '1909': 8, '1908': 19, '1990': 4, '1866': 11, '1987': 7, '1865': 7, '1986': 13, '1864': 7, '1985': 3, '1863': 2, '1984': 3, '1862': 5, '1983': 8, '1861': 10, '1982': 2, '1860': 67, '1981': 4, '1980': 4, '1907': 20, '1906': 2, '1905': 3, '1904': 20, '1903': 1, '1869': 5, '1902': 22, '1868': 16, '1901': 11, '1989': 4, '1867': 8, '1900': 10, '1988': 30, '1919': 4, '1880': 2, '1877': 40, '1910': 5, '1998': 3, '1876': 51, '1997': 1, '1875': 49, '1996': 5, '1874': 37, '1995': 4, '1873': 25, '1994': 8, '1872': 22, '1993': 6, '1871': 23, '1992': 6, '1870': 12, '1991': 4, '1918': 12, '1917': 8, '1916': 5, '1915': 4, '1914': 18, '1913': 9, '1879': 6, '1912': 23, '1878': 23, '1911': 8, '1999': 5, '1891': 6, '1890': 14, '1888': 5, '1921': 2, '1887': 12, '1920': 5, '1886': 3, '1885': 2, '1884': 3, '1883': 3, '1882': 2, '1881': 14, '1929': 2, '1928': 2, '1926': 2, '1925': 10, '1924': 3, '1923': 4, '1889': 7, '1922': 4, '1899': 4, '1932': 8, '1898': 6, '1931': 5, '1897': 11, '1930': 8, '1896': 54, '1895': 16, '1894': 7, '1893': 10, '1892': 1, '1939': 4, '1938': 2, '1937': 4, '1936': 7, '1935': 1, '1934': 3, '1933': 1, '2001': 1, '2000': 3, '1788': 1, '1942': 2, '1941': 4, '1940': 4, '1949': 7, '1948': 2, '1947': 2, '1945': 2, '2012': 14, '2011': 4, '2010': 9, '1954': 5, '2009': 17, '2008': 8, '2007': 6, '1951': 2, '2006': 1, '1950': 2, '2005': 3, '2004': 5, '2003': 7, '2002': 22, '1959': 1, '1958': 3, '1836': 1, '1957': 4, '1955': 1, '1965': 2, '1964': 6, '2019': 14, '1963': 13, '2018': 18, '1962': 5, '2017': 18, '1961': 3, '2016': 17, '1960': 9, '2015': 37, '2014': 23, '2013': 26, '1849': 1, '1969': 5, '1968': 3, '1846': 2, '1967': 4, '1966': 3})]
on 0: {'2012': 1, '2011': 4, '2010': 5, '1998': 5, '2009': 1, '1975': 2, '1997': 3, '2008': 13, '1996': 4, '2007': 6, '1973': 1, '2006': 1, '1972': 1, '2005': 7, '1971': 1, '1993': 1, '2004': 3, '1992': 1, '2003': 4, '1991': 1, '2002': 3, '1916': 1, '1979': 1, '1978': 3, '1977': 2, '1999': 4, '1909': 1, '1908': 1, '1990': 2, '2001': 3, '2000': 8, '1986': 1, '2019': 4, '1886': 2, '2018': 3, '1984': 4, '2017': 4, '1983': 2, '2016': 3, '1982': 1, '2015': 3, '2014': 5, '1980': 2, '2013': 28, '1907': 1, '1902': 2, '1989': 2, '1988': 1}
on 0: " --
on 0: -- Vorgehen
on 0:            0    1
      1500       0    0
      1501       0    0
      1502      14    0
      1503       4    0
      1504       1    0
      ...      ...  ...
      2015  168665  440
      2016  158766  366
      2017  143663  349
      2018  138610  458
      2019  127189  303

      [520 rows x 2 columns]
on 0: 1500    0
      1501    0
      1502    0
      1503    0
      1504    0
             ..
      2015    3
      2016    3
      2017    4
      2018    3
      2019    4
      Length: 520, dtype: int64
on 1: [Row(Tokens='" Bis seine', Data={'2012': 6, '2011': 1, '2010': 3, '1998': 10, '1876': 1, '1754': 1, '1875': 2, '1897': 2, '1952': 2, '1852': 2, '1951': 1, '1993': 1, '2003': 2, '1936': 1, '1736': 1, '2001': 1, '2000': 1, '2019': 1, '1985': 1, '2018': 1, '1841': 1, '2017': 10, '1840': 2, '1884': 1, '1961': 1, '2016': 5, '2015': 5, '2014': 5, '2013': 7, '1828': 1, '1927': 4, '1867': 1, '1922': 10}), Row(Tokens='" -- Vorgehen', Data={'2012': 1, '2011': 4, '2010': 5, '1998': 5, '2009': 1, '1975': 2, '1997': 3, '2008': 13, '1996': 4, '2007': 6, '1973': 1, '2006': 1, '1972': 1, '2005': 7, '1971': 1, '1993': 1, '2004': 3, '1992': 1, '2003': 4, '1991': 1, '2002': 3, '1916': 1, '1979': 1, '1978': 3, '1977': 2, '1999': 4, '1909': 1, '1908': 1, '1990': 2, '2001': 3, '2000': 8, '1986': 1, '2019': 4, '1886': 2, '2018': 3, '1984': 4, '2017': 4, '1983': 2, '2016': 3, '1982': 1, '2015': 3, '2014': 5, '1980': 2, '2013': 28, '1907': 1, '1902': 2, '1989': 2, '1988': 1}), Row(Tokens='" : Oesterreich', Data={'1919': 1, '1855': 1, '1899': 2, '1910': 1, '1854': 1, '1898': 1, '1874': 2, '2006': 1, '1850': 1, '1872': 4, '1871': 1, '1870': 1, '1917': 1, '1915': 1, '1937': 1, '1859': 3, '1636': 1, '1856': 2, '1911': 2, '1908': 2, '1692': 1, '1890': 4, '2000': 1, '1844': 1, '1743': 1, '2018': 1, '1940': 1, '1984': 1, '1861': 5, '1883': 2, '1907': 2, '1904': 1, '1903': 2, '1925': 1, '1845': 6}), Row(Tokens='" Geht \'s', Data={'1855': 8, '1976': 14, '1854': 3, '1975': 15, '1974': 16, '1698': 1, '1852': 6, '1973': 13, '1851': 7, '1972': 19, '1850': 8, '1971': 10, '1970': 27, '1859': 9, '1858': 12, '1979': 23, '1857': 7, '1978': 18, '1856': 6, '1977': 21, '1909': 35, '1908': 70, '1990': 20, '1866': 4, '1987': 35, '1865': 3, '1986': 23, '1864': 11, '1985': 29, '1863': 6, '1984': 19, '1862': 16, '1983': 11, '1861': 13, '1982': 27, '1860': 6, '1981': 13, '1980': 21, '1907': 20, '1906': 45, '1905': 42, '1904': 36, '1903': 39, '1869': 16, '1902': 25, '1868': 12, '1901': 24, '1989': 17, '1867': 15, '1900': 42, '1988': 23, '1919': 29, '1880': 5, '1877': 20, '1910': 48, '1998': 20, '1876': 3, '1997': 16, '1875': 11, '1996': 24, '1874': 9, '1995': 36, '1873': 7, '1994': 11, '1872': 10, '1993': 29, '1871': 8, '1992': 5, '1870': 3, '1991': 14, '1918': 15, '1917': 30, '1916': 26, '1915': 32, '1914': 53, '1913': 40, '1879': 13, '1912': 35, '1878': 4, '1911': 28, '1999': 20, '1891': 14, '1890': 12, '1888': 22, '1921': 27, '1887': 14, '1920': 15, '1886': 6, '1885': 4, '1884': 7, '1883': 2, '1640': 1, '1882': 5, '1881': 16, '1929': 18, '1928': 28, '1927': 18, '1926': 23, '1925': 37, '1924': 17, '1923': 22, '1889': 22, '1922': 31, '1899': 18, '1932': 21, '1898': 33, '1931': 21, '1897': 34, '1930': 19, '1896': 30, '1895': 36, '1894': 12, '1893': 22, '1892': 15, '1939': 17, '1938': 15, '1937': 19, '1936': 12, '1935': 16, '1934': 12, '1933': 14, '2001': 33, '2000': 58, '1943': 19, '1942': 20, '1941': 14, '1940': 5, '1949': 15, '1948': 11, '1947': 20, '1825': 1, '1946': 12, '1824': 2, '1945': 8, '1944': 13, '2012': 864, '2011': 462, '2010': 312, '1954': 14, '2009': 263, '1953': 10, '2008': 185, '1952': 17, '2007': 117, '1830': 2, '1951': 14, '2006': 87, '1950': 8, '2005': 87, '2004': 80, '2003': 52, '2002': 63, '1839': 1, '1838': 1, '1959': 22, '1837': 1, '1958': 22, '1836': 9, '1957': 8, '1835': 4, '1956': 12, '1955': 14, '1844': 3, '1965': 29, '1843': 2, '1964': 24, '2019': 1875, '1963': 30, '2018': 1863, '1841': 3, '1962': 25, '2017': 1898, '1840': 3, '1961': 24, '2016': 2046, '1960': 10, '2015': 1901, '2014': 2036, '2013': 1292, '1849': 2, '1848': 15, '1969': 28, '1847': 2, '1968': 17, '1846': 7, '1967': 25, '1845': 3, '1966': 16}), Row(Tokens='" Geschlecht \'', Data={'1899': 1, '1932': 1, '1976': 1, '1854': 3, '1898': 2, '1930': 2, '1974': 2, '1972': 1, '1971': 3, '1858': 1, '1979': 1, '1934': 1, '1977': 1, '1990': 1, '2001': 4, '2000': 5, '1987': 1, '1986': 1, '1985': 4, '1949': 1, '1948': 1, '1947': 1, '1902': 1, '1946': 1, '1901': 2, '1989': 2, '1900': 2, '1919': 1, '2011': 15, '2010': 2, '1998': 8, '2009': 1, '1953': 1, '1997': 3, '2008': 3, '1754': 1, '1875': 1, '1996': 2, '2007': 20, '1995': 1, '2006': 14, '1950': 1, '1994': 4, '2005': 22, '1872': 3, '2004': 12, '2003': 10, '1991': 5, '2002': 5, '1916': 2, '1915': 1, '1957': 1, '1956': 1, '1999': 8, '1965': 3, '1964': 1, '2019': 1, '2018': 3, '2017': 22, '1961': 1, '2016': 3, '1960': 3, '2015': 6, '2014': 7, '2013': 46, '1928': 1, '1969': 1, '1923': 1, '1967': 2}), Row(Tokens='" Hanns und', Data={'1976': 1, '1876': 2, '1997': 4, '1875': 2, '1897': 6, '1996': 3, '1896': 3, '1995': 1, '2004': 1, '1970': 2, '1991': 1, '2002': 2, '1916': 1, '1938': 2, '1915': 1, '1737': 1, '1858': 1, '1934': 2, '1956': 5, '1878': 2, '1955': 1, '1909': 1, '2001': 14, '1822': 1, '1921': 2, '1986': 1, '2019': 13, '1985': 2, '2018': 8, '1863': 4, '2017': 1, '1762': 1, '1907': 2, '1906': 3, '1905': 1, '1927': 6, '1903': 1, '1969': 2, '1902': 4, '1901': 1, '1967': 1, '1922': 3}), Row(Tokens='" ES darf', Data={'1880': 1, '1855': 1, '1899': 1, '1932': 1, '1854': 3, '1853': 3, '1875': 1, '1850': 2, '1872': 2, '1870': 2, '1818': 1, '1915': 1, '1859': 3, '1858': 1, '1857': 5, '1879': 3, '1912': 1, '1934': 1, '1856': 1, '1878': 2, '1911': 1, '1908': 1, '1866': 1, '1921': 1, '1821': 1, '1865': 2, '1864': 1, '1863': 1, '1940': 1, '1861': 1, '1883': 1, '1860': 1, '1882': 1, '2013': 1, '1829': 1, '1728': 1, '1849': 6, '1904': 1, '1848': 1, '1846': 1, '1868': 2, '1901': 1, '1801': 1, '1823': 1, '1845': 1, '1867': 1}), Row(Tokens='" % ihres', Data={'1919': 1, '1880': 1, '1855': 1, '1910': 1, '1898': 1, '1897': 1, '1874': 2, '1893': 1, '1892': 1, '1918': 2, '1839': 1, '1915': 1, '1913': 4, '1912': 2, '1878': 1, '1911': 4, '1909': 1, '1908': 2, '1866': 1, '1888': 1, '1887': 1, '1920': 1, '1841': 1, '1885': 2, '1862': 1, '1883': 1, '1927': 1, '1904': 1, '1948': 1, '1869': 1, '1924': 1, '1846': 1, '1901': 2, '1867': 1, '1900': 1}), Row(Tokens='" Action pour', Data={'2012': 2, '2011': 2, '2010': 1, '2009': 1, '2007': 1, '1995': 1, '1950': 1, '2005': 1, '2004': 2, '1970': 1, '1992': 3, '2003': 2, '2002': 5, '1979': 4, '1978': 1, '1977': 1, '1999': 1, '2001': 3, '2000': 1, '1987': 1, '1986': 1, '2019': 1, '2017': 1, '2015': 2, '1980': 9, '1969': 3, '1845': 4}), Row(Tokens='" Der Anker', Data={'1976': 2, '1975': 3, '1853': 1, '1974': 2, '1973': 5, '1851': 5, '1972': 6, '1971': 4, '1970': 9, '1859': 10, '1979': 6, '1978': 3, '1977': 1, '1909': 8, '1908': 19, '1990': 4, '1866': 11, '1987': 7, '1865': 7, '1986': 13, '1864': 7, '1985': 3, '1863': 2, '1984': 3, '1862': 5, '1983': 8, '1861': 10, '1982': 2, '1860': 67, '1981': 4, '1980': 4, '1907': 20, '1906': 2, '1905': 3, '1904': 20, '1903': 1, '1869': 5, '1902': 22, '1868': 16, '1901': 11, '1989': 4, '1867': 8, '1900': 10, '1988': 30, '1919': 4, '1880': 2, '1877': 40, '1910': 5, '1998': 3, '1876': 51, '1997': 1, '1875': 49, '1996': 5, '1874': 37, '1995': 4, '1873': 25, '1994': 8, '1872': 22, '1993': 6, '1871': 23, '1992': 6, '1870': 12, '1991': 4, '1918': 12, '1917': 8, '1916': 5, '1915': 4, '1914': 18, '1913': 9, '1879': 6, '1912': 23, '1878': 23, '1911': 8, '1999': 5, '1891': 6, '1890': 14, '1888': 5, '1921': 2, '1887': 12, '1920': 5, '1886': 3, '1885': 2, '1884': 3, '1883': 3, '1882': 2, '1881': 14, '1929': 2, '1928': 2, '1926': 2, '1925': 10, '1924': 3, '1923': 4, '1889': 7, '1922': 4, '1899': 4, '1932': 8, '1898': 6, '1931': 5, '1897': 11, '1930': 8, '1896': 54, '1895': 16, '1894': 7, '1893': 10, '1892': 1, '1939': 4, '1938': 2, '1937': 4, '1936': 7, '1935': 1, '1934': 3, '1933': 1, '2001': 1, '2000': 3, '1788': 1, '1942': 2, '1941': 4, '1940': 4, '1949': 7, '1948': 2, '1947': 2, '1945': 2, '2012': 14, '2011': 4, '2010': 9, '1954': 5, '2009': 17, '2008': 8, '2007': 6, '1951': 2, '2006': 1, '1950': 2, '2005': 3, '2004': 5, '2003': 7, '2002': 22, '1959': 1, '1958': 3, '1836': 1, '1957': 4, '1955': 1, '1965': 2, '1964': 6, '2019': 14, '1963': 13, '2018': 18, '1962': 5, '2017': 18, '1961': 3, '2016': 17, '1960': 9, '2015': 37, '2014': 23, '2013': 26, '1849': 1, '1969': 5, '1968': 3, '1846': 2, '1967': 4, '1966': 3})]
on 1: {'1919': 1, '1855': 1, '1899': 2, '1910': 1, '1854': 1, '1898': 1, '1874': 2, '2006': 1, '1850': 1, '1872': 4, '1871': 1, '1870': 1, '1917': 1, '1915': 1, '1937': 1, '1859': 3, '1636': 1, '1856': 2, '1911': 2, '1908': 2, '1692': 1, '1890': 4, '2000': 1, '1844': 1, '1743': 1, '2018': 1, '1940': 1, '1984': 1, '1861': 5, '1883': 2, '1907': 2, '1904': 1, '1903': 2, '1925': 1, '1845': 6}
on 1: " :
on 1: : Oesterreich
on 1:           0    1
      1500      0    0
      1501      0    0
      1502      6    0
      1503      3    0
      1504      0    0
      ...     ...  ...
      2015  82063  111
      2016  79582   54
      2017  75478   38
      2018  68251   35
      2019  65158   39

      [520 rows x 2 columns]
on 1: 1500    0
      1501    0
      1502    0
      1503    0
      1504    0
             ..
      2015    0
      2016    0
      2017    0
      2018    1
      2019    0
      Length: 520, dtype: int64

TypeError: 'NoneType' object is not subscriptable

In [ ]:
plt.boxplot(all)
plt.show()
rmse_with_error = []

for i in result:
    rmse_with_error.append(i[1])
plt.boxplot(rmse_with_error)
plt.show()

import seaborn as sns

sns.violinplot(x= rmse_with_error, inner="point")

In [ ]:
sns.violinplot(x= all, inner_kws=dict(box_width=15, whis_width=2, color=".8"))

In [ ]:

plt.scatter(sum, all)
plt.xscale('log')
plt.show()