In [22]:
import gzip
import pandas as pd
import os
import sqlite3
import gzip
import csv
from pathlib import Path


start_year = 1900
end_year = 2019

words = []
data_year = []

In [23]:
def read_in(string,conn):
    with gzip.open(string,'rt', encoding='utf-8') as input:
        for line in input:
            values = line.strip().split("\t")
            words.append(values[0])
            data = [entry.split(",") for entry in values[1:]]
            year = {int(entry[0]): entry[1] for entry in data if start_year <= int(entry[0]) <= end_year}
            data_year.append(year)

    years = list(range(start_year, end_year + 1))
    df = pd.DataFrame(index=words, columns=years)

    for i, word_data in enumerate(data_year):
        word = words[i]
        for year, value in word_data.items():
            df.at[word, year] = value

    string.replace(".","")
    first, *middle, last = string.split("_")
   # df.to_sql(last + '.data', conn, index = False)
    
    print("create table " + last + " as select * from " + last + ".data")
    conn.execute("create table " + last + " as select * from " + last + ".data")

In [24]:
directory = 'C:/Users/bincl/BA-Thesis/Dataset/1gram'
conn = sqlite3.connect('Ngram.db')
Path('Ngram.db').touch()

for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        read_in(f,conn)

create table nopos.gz as select * from nopos.gz.data

OperationalError: unknown database nopos