In [1]:
import gzip
import pandas as pd
import os
import sqlite3
import gzip
import csv
from pathlib import Path


start_year = 1900
end_year = 2019

words = []
data_year = []

In [2]:
def read_in(string,conn):
    with gzip.open(string,'rt', encoding='utf-8') as input:
        reader = csv.reader(input, delimiter='\t', quoting=csv.QUOTE_NONE)
        df = pd.DataFrame(reader)
    
    
    first, *middle, last = string.split("_")
    first,*middle, last = last.split(".")
    df.to_sql(first + 'data', conn, index = False)
    
    print("create table " + first + " as select * from " + first + "data")
    conn.execute("create table " + first + " as select * from " + first + "data")
    conn.execute("DROP TABLE " + first + 'data')

In [3]:
directory = 'C:/Users/bincl/BA-Thesis/Dataset/test2Gram'
conn = sqlite3.connect('Ngram.db')
Path('Ngram.db').touch()

for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        read_in(f,conn)

create table bc as select * from bcdata

KeyboardInterrupt:

In [2]:
import gzip
import pandas as pd
import os
import sqlite3
import gzip
import csv
from pathlib import Path

with gzip.open("C:/Users/bincl/BA-Thesis/Dataset/2gram/2_20000_nopos_aa.gz",'rt', encoding='utf-8') as input:
        reader = csv.reader(input, delimiter='\t', quoting=csv.QUOTE_NONE)
        df = pd.DataFrame(reader)
        print(df)

                                 0         1         2         3         4    \
0                derartige Beachtung  1850,2,1  1855,2,2  1860,1,1  1865,6,6
1                          des Cotta  1656,1,1  1689,2,1  1742,1,1  1744,3,3
2        derartige Herausforderungen  1846,1,1  1854,1,1  1856,3,3  1859,3,3
3                   derartigen Feuer  1845,1,1  1856,4,2  1862,1,1  1865,2,2
4           derselben einzuschr√§nken  1700,1,1  1746,1,1  1753,1,1  1755,1,1
...                              ...       ...       ...       ...       ...
1343810    Transformation vorwiegend  1912,5,5  1968,1,1  1970,1,1  1973,2,1
1343811                  Titel ihrer  1601,1,1  1618,1,1  1659,1,1  1675,1,1
1343812           Trotz Einwilligung  1884,4,4  1914,1,1  1956,1,1  1959,2,1
1343813              Titel beurteilt  1884,3,3  1886,5,5  1887,5,5  1888,2,2
1343814                  Tode Julius  1771,1,1  1773,2,2  1774,2,2  1781,1,1

                5           6         7           8         9    ...   511  \
0          1868,1,1    1871,1,1  1875,3,2    1878,1,1  1880,1,1  ...  None
1          1746,3,2    1748,1,1  1751,2,2    1752,3,3  1753,1,1  ...  None
2          1874,3,3  1886,10,10  1888,1,1    1893,7,6  1897,3,3  ...  None
3        1867,14,14    1868,1,1  1870,2,1  1878,10,10  1879,1,1  ...  None
4          1757,1,1    1758,1,1  1759,1,1    1766,2,2  1769,1,1  ...  None
...             ...         ...       ...         ...       ...  ...   ...
1343810    1974,1,1    1978,1,1  1987,2,2    1988,1,1  1990,2,2  ...  None
1343811    1687,1,1    1691,1,1  1698,1,1    1707,2,2  1708,1,1  ...  None
1343812    1960,1,1    1964,1,1  1965,2,2    1966,3,3  1967,4,2  ...  None
1343813    1889,2,2    1893,5,5  1898,1,1    1905,1,1  1906,1,1  ...  None
1343814    1790,1,1    1795,1,1  1800,1,1    1803,1,1  1818,1,1  ...  None

          512   513   514   515   516   517   518   519   520
0        None  None  None  None  None  None  None  None  None
1        None  None  None  None  None  None  None  None  None
2        None  None  None  None  None  None  None  None  None
3        None  None  None  None  None  None  None  None  None
4        None  None  None  None  None  None  None  None  None
...       ...   ...   ...   ...   ...   ...   ...   ...   ...
1343810  None  None  None  None  None  None  None  None  None
1343811  None  None  None  None  None  None  None  None  None
1343812  None  None  None  None  None  None  None  None  None
1343813  None  None  None  None  None  None  None  None  None
1343814  None  None  None  None  None  None  None  None  None

[1343815 rows x 521 columns]

In [3]:
directory = 'C:/Users/bincl/BA-Thesis/Dataset/test2Gram'
conn = sqlite3.connect('Ngram.db')
Path('Ngram.db').touch()

In [4]:
df.to_sql("first" + 'data', conn, index = False)
    
conn.execute("create table " + "first" + " as select * from " + "first" + "data")
conn.execute("DROP TABLE " + "first" + 'data')

In [ ]:
conn.close()