In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('CorpusLoader').master('local[4]').config("spark.executor.memory", "8g").getOrCreate()

In [2]:
import os
from pyspark.sql.functions import split, element_at, explode, map_values, array_min, broadcast, map_from_entries, arrays_zip, array_contains, monotonically_increasing_id, array_distinct, transform, arrays_zip, size, slice, collect_list, first, map_from_arrays
from pyspark.sql.types import LongType, ArrayType, IntegerType, MapType

class CorpusLoader:

    def __init__(self, root_path, spark):
        self.__root_path = root_path
        self.__spark = spark

    def load(self):
        self.__array_df = self.__load_or_create_parquet('array.parquet', self.__create_array_df)
        self.__token_df = self.__load_or_create_parquet('token.parquet', self.__create_token_df)
        self.__contains_df = self.__load_or_create_parquet('contains.parquet', self.__create_contains_df)
        self.__data_df = self.__load_or_create_parquet('data.parquet', self.__create_data_df)

    def __load_or_create_parquet(self, name, create_function):
        parquet_path = os.path.join(os.path.join(self.__root_path, 'parquets'), name)
        
        if not os.path.exists(parquet_path):
            print(f'File "{name}" not found. \n\t -- Creating "{name}" ...')
            
            df = create_function()
            df.write.parquet(parquet_path)

            print('\t -- Done.')

        print(f'Loading "{name}" ...')
        return self.__spark.read.parquet(parquet_path)

    def __create_token_df(self):
        one_gram_path = os.path.join(self.__root_path, '1')

        one_gram_df = spark.read.csv(one_gram_path, sep='\n').withColumnRenamed('_c0', 'Input')
        token_df = one_gram_df \
                .select(split('Input', '\t').alias('SplitInput')) \
                .select(element_at('SplitInput', 1).alias('Tokens')) \
                .select(explode(split('Tokens', ' ')).alias('Token')) \
                .orderBy('Token') \
                .withColumn('TokenId', monotonically_increasing_id()) 
        
        return token_df

    def __create_array_df(self):
        n_gram_directories = [os.path.join(self.__root_path, x) for x in os.listdir(self.__root_path) if x.isdigit()]
        
        input_df = None

        for path in n_gram_directories:
            new_input_df = spark.read.csv(path, sep='\n').withColumnRenamed('_c0', 'Input')
            
            if input_df is None:
                input_df = new_input_df
            else:
                input_df = input_df.union(new_input_df)

        split_df = input_df \
                    .select(split('Input', '\t').alias('SplitInput')) \
                    .select(element_at('SplitInput', 1).alias('Tokens'),
                            slice('SplitInput', 2, size('SplitInput')).alias('Data')) \
                    .select(split('Tokens', ' ').alias('Tokens'), 'Data')

        array_df = split_df.select('Tokens', transform('Data', lambda d: split(d, ',')).alias('Data')) \
                    .select('Tokens', transform('Data', lambda x: x[0].cast(IntegerType())).alias('Years'),
                            transform('Data', lambda x: x[1].cast(LongType())).alias('Frequency'),
                            transform('Data', lambda x: x[2].cast(LongType())).alias('BookFrequency')) \
                    .withColumn('NgramId', monotonically_increasing_id())

        return array_df

    def __create_contains_df(self):
        n_gram_df = self.__array_df

        n_gram_to_token_id_df = n_gram_df.select('NgramId', 'Tokens') \
                .select(explode('Tokens').alias('Token'), 'NgramId') \
                .join(self.__token_df, on='Token') \
                .groupBy('NgramId').agg(collect_list('TokenId').alias('TokenIds'))

        contains_df = n_gram_to_token_id_df.select('NgramId', 'TokenIds') \
            .withColumn('IndexArray', transform('TokenIds', lambda x, i: i)) \
            .select('NgramId', arrays_zip('IndexArray', 'TokenIds').alias('TokenIds')) \
            .select('NgramId', explode('TokenIds').alias('TokenId')) \
            .select('NgramId', 'TokenId.IndexArray', 'TokenId.TokenIds') \
            .withColumnsRenamed({'IndexArray': 'Position', 'TokenIds': 'TokenId'}) \
            .orderBy('NgramId')

        return contains_df

    ## This horrific arrays to list of structs to map construct is required, because map_from_arrays zeroes everything out.
    def __create_data_df(self):
        data_df = self.__array_df.select('NgramId', 'Years', 'Frequency', 'BookFrequency')
        data_df = data_df.withColumn('FrequencyStructs', arrays_zip('Years', 'Frequency'))
        data_df = data_df.withColumn('BookFrequencyStructs', arrays_zip('Years', 'BookFrequency'))
        data_df = data_df.withColumn('FrequencyMap', map_from_entries('FrequencyStructs'))
        data_df = data_df.withColumn('BookFrequencyMap', map_from_entries('BookFrequencyStructs'))
        data_df = data_df.select('NgramId', 'FrequencyMap', 'BookFrequencyMap')

        data_df.printSchema()
        
        return data_df.withColumnsRenamed({'FrequencyMap': 'Frequency', 'BookFrequencyMap': 'BookFrequency'})

In [3]:
cl = CorpusLoader('C:/Users/bincl/BA-Thesis/Dataset/parquets_corpus/', spark)

cl.load()

Loading "array.parquet" ...
Loading "token.parquet" ...
Loading "contains.parquet" ...
Loading "data.parquet" ...

In [4]:
cl._CorpusLoader__token_df.printSchema()
cl._CorpusLoader__contains_df.printSchema()
cl._CorpusLoader__array_df.printSchema()
cl._CorpusLoader__data_df.printSchema()

root
 |-- Token: string (nullable = true)
 |-- TokenId: long (nullable = true)

root
 |-- NgramId: long (nullable = true)
 |-- Position: integer (nullable = true)
 |-- TokenId: long (nullable = true)

root
 |-- Tokens: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- Years: array (nullable = true)
 |    |-- element: integer (containsNull = true)
 |-- Frequency: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- BookFrequency: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- NgramId: long (nullable = true)

root
 |-- NgramId: long (nullable = true)
 |-- Frequency: map (nullable = true)
 |    |-- key: integer
 |    |-- value: long (valueContainsNull = true)
 |-- BookFrequency: map (nullable = true)
 |    |-- key: integer
 |    |-- value: long (valueContainsNull = true)

In [5]:

print(cl._CorpusLoader__array_df.head(1))
print(cl._CorpusLoader__data_df.head(1))

[Row(Tokens=['zehn', 'niedrigsten'], Years=[1879, 1904, 1910, 1922, 1927, 1932, 1941, 1956, 1963, 1970, 1972, 1973, 1974, 1980, 1981, 1983, 1985, 1988, 1992, 1994, 1996, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2015, 2016, 2018, 2019], Frequency=[2, 1, 2, 1, 3, 2, 2, 1, 2, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 2, 1, 1, 5, 3, 3, 16, 1, 12, 26, 2, 2, 2, 4], BookFrequency=[2, 1, 2, 1, 3, 2, 2, 1, 2, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 3, 3, 9, 1, 9, 13, 2, 2, 2, 2], NgramId=2052994367488)]
[Row(NgramId=661424963584, Frequency={1920: 1, 1925: 2, 1800: 1, 1935: 1, 1937: 4, 1811: 2, 1944: 1, 1817: 1, 1819: 2, 1820: 1, 1823: 1, 1959: 5, 1960: 4, 1961: 2, 1962: 6, 1963: 1, 1964: 1, 1837: 1, 1965: 3, 1966: 2, 1839: 1, 1969: 3, 1971: 1, 1973: 1, 1974: 1, 1848: 2, 1977: 2, 1852: 1, 1853: 3, 1990: 1, 1991: 1, 1993: 3, 1996: 2, 2001: 1, 1875: 1, 1879: 2, 2011: 1, 2012: 4, 2013: 3, 2014: 2, 2015: 10, 2016: 10, 2017: 21, 1890: 9, 2018: 1, 1895: 4, 1903: 1, 1905: 1, 1907: 1, 1911: 1, 1786: 1, 1916: 1}, BookFrequency={1920: 1, 1925: 2, 1800: 1, 1935: 1, 1937: 4, 1811: 2, 1944: 1, 1817: 1, 1819: 2, 1820: 1, 1823: 1, 1959: 5, 1960: 4, 1961: 2, 1962: 6, 1963: 1, 1964: 1, 1837: 1, 1965: 3, 1966: 2, 1839: 1, 1969: 3, 1971: 1, 1973: 1, 1974: 1, 1848: 2, 1977: 2, 1852: 1, 1853: 3, 1990: 1, 1991: 1, 1993: 3, 1996: 2, 2001: 1, 1875: 1, 1879: 2, 2011: 1, 2012: 4, 2013: 3, 2014: 2, 2015: 10, 2016: 10, 2017: 21, 1890: 9, 2018: 1, 1895: 4, 1903: 1, 1905: 1, 1907: 1, 1911: 1, 1786: 1, 1916: 1})]

In [6]:
cl._CorpusLoader__contains_df.show(100)

+-------+--------+-------+
|NgramId|Position|TokenId|
+-------+--------+-------+
|      0|       0|   3350|
|      1|       0|   3705|
|      2|       0|   2168|
|      3|       0|   2082|
|      4|       0|   2018|
|      5|       0|   2486|
|      6|       0|   3526|
|      7|       0|   3244|
|      8|       0|   2171|
|      9|       0|   2991|
|     10|       0|   2952|
|     11|       0|   3163|
|     12|       0|   3083|
|     13|       0|   2180|
|     14|       0|   3689|
|     15|       0|   2310|
|     16|       0|   3377|
|     17|       0|   2360|
|     18|       0|   3548|
|     19|       0|   3282|
|     20|       0|   2783|
|     21|       0|   2330|
|     22|       0|   3041|
|     23|       0|   2238|
|     24|       0|   3019|
|     25|       0|   2667|
|     26|       0|   2427|
|     27|       0|   2334|
|     28|       0|   2308|
|     29|       0|   3849|
|     30|       0|   3366|
|     31|       0|   3915|
|     32|       0|   2960|
|     33|       0|   2634|
|     34|       0|   1935|
|     35|       0|   3535|
|     36|       0|   2225|
|     37|       0|   2411|
|     38|       0|   2277|
|     39|       0|   2741|
|     40|       0|   3159|
|     41|       0|   3768|
|     42|       0|   2628|
|     43|       0|   2948|
|     44|       0|   3895|
|     45|       0|   3172|
|     46|       0|   3367|
|     47|       0|   2810|
|     48|       0|   3198|
|     49|       0|   2356|
|     50|       0|   3022|
|     51|       0|   3859|
|     52|       0|   3213|
|     53|       0|   3057|
|     54|       0|   2426|
|     55|       0|   3450|
|     56|       0|   2355|
|     57|       0|   3758|
|     58|       0|   3916|
|     59|       0|   3494|
|     60|       0|   3402|
|     61|       0|   2457|
|     62|       0|   2429|
|     63|       0|   2629|
|     64|       0|   3221|
|     65|       0|   3097|
|     66|       0|   2196|
|     67|       0|   2682|
|     68|       0|   2022|
|     69|       0|   2523|
|     70|       0|   3625|
|     71|       0|   3061|
|     72|       0|   3369|
|     73|       0|   1983|
|     74|       0|   3491|
|     75|       0|   2023|
|     76|       0|   3346|
|     77|       0|   3317|
|     78|       0|   3766|
|     79|       0|   2314|
|     80|       0|   3204|
|     81|       0|   2856|
|     82|       0|   2983|
|     83|       0|   2011|
|     84|       0|   3903|
|     85|       0|   3260|
|     86|       0|   3070|
|     87|       0|   3620|
|     88|       0|   3009|
|     89|       0|   3196|
|     90|       0|   3837|
|     91|       0|   2831|
|     92|       0|   3274|
|     93|       0|   3145|
|     94|       0|   3031|
|     95|       0|   3574|
|     96|       0|   3512|
|     97|       0|   2304|
|     98|       0|   3263|
|     99|       0|   3431|
+-------+--------+-------+
only showing top 100 rows

In [7]:
from pyspark.sql.functions import col
#tokens_last = cl._CorpusLoader__token_df.join(cl._CorpusLoader__contains_df, on='NgramId')
result = cl._CorpusLoader__contains_df.orderBy('NgramId', 'Position').groupBy("NgramId").agg(collect_list("TokenId").alias("TokenIds"))
result = result.withColumn("TokenId1", col("TokenIds")[0]) \
               .withColumn("TokenId2", col("TokenIds")[1])

[Row(NgramId=2070174347469, TokenIds=[4451, 2720], TokenId1=4451, TokenId2=2720), Row(NgramId=2070174347474, TokenIds=[4499, 14084], TokenId1=4499, TokenId2=14084), Row(NgramId=2070174347484, TokenIds=[4466, 12819], TokenId1=4466, TokenId2=12819), Row(NgramId=2070174347489, TokenIds=[4450, 17143], TokenId1=4450, TokenId2=17143), Row(NgramId=2070174347500, TokenIds=[4475, 12218], TokenId1=4475, TokenId2=12218), Row(NgramId=2070174347507, TokenIds=[4522, 16640], TokenId1=4522, TokenId2=16640), Row(NgramId=2070174347513, TokenIds=[4446, 19904], TokenId1=4446, TokenId2=19904), Row(NgramId=2070174347527, TokenIds=[4474, 11305], TokenId1=4474, TokenId2=11305), Row(NgramId=2070174347539, TokenIds=[4449, 13324], TokenId1=4449, TokenId2=13324), Row(NgramId=2070174347552, TokenIds=...]

In [8]:
result = result.select("NgramId","TokenId1", "TokenId2").withColumnRenamed("NgramId", "Full_NgramId").cache()  
ngram = result
result.show(100)

+------------+--------+--------+
|Full_NgramId|TokenId1|TokenId2|
+------------+--------+--------+
|          26|    2427|    null|
|          29|    3849|    null|
|         474|    2131|    null|
|         964|    2181|    null|
|        1677|    2453|    null|
|        1697|    3874|    null|
|        1806|    3362|    null|
|        1950|    3257|    null|
|        2040|    1526|    null|
|        2214|    1777|    null|
|        2250|    1535|    null|
|        2453|    1180|    null|
|        2509|    1034|    null|
|        2529|    1486|    null|
|        2927|     475|    null|
|        3091|     528|    null|
|        3506|     562|    null|
|        3764|     985|    null|
|        4590|   11969|    null|
|        4823|   10976|    null|
|        4894|   10392|    null|
|  8589934658|   11569|    null|
|  8589934965|   12389|    null|
|  8589935171|   11145|    null|
|  8589935183|   11003|    null|
|  8589935298|    9701|    null|
|  8589935317|   11841|    null|
|  8589935768|   12201|    null|
|  8589935770|    9831|    null|
|  8589935936|   10038|    null|
|  8589936112|    9655|    null|
|  8589936348|   19592|    null|
|  8589936424|   16257|    null|
|  8589936566|   19495|    null|
|  8589936761|   17294|    null|
|  8589936870|   19312|    null|
|  8589936972|   18579|    null|
|  8589937263|   16348|    null|
|  8589937582|   17069|    null|
|  8589937853|   18098|    null|
|  8589937874|   19696|    null|
|  8589937892|   18959|    null|
|  8589937972|   19630|    null|
|  8589938024|   16736|    null|
|  8589938116|   17971|    null|
|  8589938148|   16738|    null|
|  8589938178|   19993|    null|
|  8589938345|   16491|    null|
|  8589938353|   16580|    null|
|  8589938411|   19101|    null|
|  8589938560|   18133|    null|
|  8589938663|   19384|    null|
|  8589938845|   19992|    null|
|  8589939171|   18089|    null|
|  8589939543|   19028|    null|
|  8589939696|   17097|    null|
| 17179869487|   18825|    null|
| 17179869788|    8086|    null|
| 17179870193|    8275|    null|
| 17179870343|    8216|    null|
| 17179870614|    8702|    null|
| 17179870829|    9295|    null|
| 17179871026|    8032|    null|
| 17179871724|    5815|    null|
| 17179871947|    5105|    null|
| 17179872052|    5847|    null|
| 17179872108|    4810|    null|
| 17179872248|    4309|    null|
| 17179872284|    4692|    null|
| 17179872309|    5282|    null|
| 17179873021|    4607|    null|
| 17179873493|    6738|    null|
| 17179873618|    6611|    null|
| 17179873705|    7471|    null|
| 17179874016|    6048|    null|
| 17179874480|    6055|    null|
| 17179874545|    6014|    null|
| 17179874562|    6386|    null|
| 25769804400|   15230|    null|
| 25769804925|   14754|    null|
| 25769805484|   13936|    null|
| 25769805506|   12900|    null|
| 25769805608|   15129|    null|
| 25769806203|   15630|    null|
| 25769806291|   15435|    null|
| 25769806339|   14283|    null|
| 25769806426|   14366|    null|
| 25769806957|   14265|    null|
| 25769807245|   15622|    null|
| 25769807430|   12668|    null|
| 25769807816|   12635|    null|
| 34359738398|   12672|    2221|
| 34359738893|   12656|    8892|
| 34359738988|   12651|    3589|
| 34359739499|   12662|   12372|
| 34359739552|   12658|   15472|
| 34359739694|   12665|   13142|
| 34359740036|   12669|     814|
| 34359740216|   12652|    2369|
| 34359740494|   12668|    3930|
+------------+--------+--------+
only showing top 100 rows

In [9]:
result = result.alias("token_table").join(result.alias("ngram"), (col("token_table.TokenId1") == col("ngram.TokenId1")) & (col("ngram.TokenId2").isNull()) &(col("token_table.TokenId2").isNotNull()))
result = result.select("token_table.Full_NgramId", "token_table.TokenId2","ngram.Full_NgramId").withColumnRenamed("ngram.Full_NgramId", "Left_NgramId") 
result.show(100)

#print(result.head(2))
#print(result.tail(2))

+------------+--------+------------+
|Full_NgramId|TokenId2|Full_NgramId|
+------------+--------+------------+
| 34359869940|   11890| 51539611029|
| 34359869940|   11890| 17179869375|
| 34359875049|    4142| 51539611029|
| 34359875049|    4142| 17179869375|
| 42949679309|    4253| 51539611029|
| 42949679309|    4253| 17179869375|
| 42949683987|   18011| 51539611029|
| 42949683987|   18011| 17179869375|
| 42949698626|   17140| 51539611029|
| 42949698626|   17140| 17179869375|
| 42949707893|   19364| 51539611029|
| 42949707893|   19364| 17179869375|
| 42949715752|    1511| 51539611029|
| 42949715752|    1511| 17179869375|
| 42949717469|   18067| 51539611029|
| 42949717469|   18067| 17179869375|
| 42949728631|   12426| 51539611029|
| 42949728631|   12426| 17179869375|
| 42949733723|   16882| 51539611029|
| 42949733723|   16882| 17179869375|
| 42949741933|     959| 51539611029|
| 42949741933|     959| 17179869375|
| 42949748832|    9359| 51539611029|
| 42949748832|    9359| 17179869375|
| 42949764854|   19161| 51539611029|
| 42949764854|   19161| 17179869375|
| 42949766399|    1957| 51539611029|
| 42949766399|    1957| 17179869375|
| 42949783115|    5683| 51539611029|
| 42949783115|    5683| 17179869375|
| 42949794968|   11448| 51539611029|
| 42949794968|   11448| 17179869375|
| 42949799216|   16759| 51539611029|
| 42949799216|   16759| 17179869375|
| 42949805495|    5874| 51539611029|
| 42949805495|    5874| 17179869375|
| 42949805911|   18499| 51539611029|
| 42949805911|   18499| 17179869375|
| 42949806763|    4379| 51539611029|
| 42949806763|    4379| 17179869375|
| 42949810980|   10775| 51539611029|
| 42949810980|   10775| 17179869375|
| 51539611367|    1786| 51539611029|
| 51539611367|    1786| 17179869375|
| 51539619534|   14536| 51539611029|
| 51539619534|   14536| 17179869375|
| 51539620529|   12663| 51539611029|
| 51539620529|   12663| 17179869375|
| 51539627470|   19629| 51539611029|
| 51539627470|   19629| 17179869375|
| 51539630184|   11147| 51539611029|
| 51539630184|   11147| 17179869375|
| 51539633736|      42| 51539611029|
| 51539633736|      42| 17179869375|
| 51539641585|   13006| 51539611029|
| 51539641585|   13006| 17179869375|
| 51539643166|   15521| 51539611029|
| 51539643166|   15521| 17179869375|
| 51539651747|   12988| 51539611029|
| 51539651747|   12988| 17179869375|
| 51539663115|     216|  8589937496|
| 51539663115|     216| 51539725757|
| 51539666530|    6569|  8589937496|
| 51539666530|    6569| 51539725757|
| 51539700537|    1621|  8589937496|
| 51539700537|    1621| 51539725757|
| 51539705029|    4591|  8589937496|
| 51539705029|    4591| 51539725757|
| 51539711525|   14575|  8589937496|
| 51539711525|   14575| 51539725757|
| 51539751432|    4991|  8589937496|
| 51539751432|    4991| 51539725757|
| 60129562509|    4998|  8589937496|
| 60129562509|    4998| 51539725757|
| 60129577963|    8120|  8589937496|
| 60129577963|    8120| 51539725757|
| 60129586609|     664|  8589937496|
| 60129586609|     664| 51539725757|
| 60129592033|     184|  8589937496|
| 60129592033|     184| 51539725757|
| 60129601887|    7199|  8589937496|
| 60129601887|    7199| 51539725757|
| 60129603284|    7887|  8589937496|
| 60129603284|    7887| 51539725757|
| 60129605626|   10961|  8589937496|
| 60129605626|   10961| 51539725757|
| 60129609446|   11890|  8589937496|
| 60129609446|   11890| 51539725757|
| 60129610944|   15957|  8589937496|
| 60129610944|   15957| 51539725757|
| 60129612603|     544|  8589937496|
| 60129612603|     544| 51539725757|
| 60129617636|   17591|  8589937496|
| 60129617636|   17591| 51539725757|
| 60129634286|   15472|  8589937496|
| 60129634286|   15472| 51539725757|
| 60129635377|    6052|  8589937496|
| 60129635377|    6052| 51539725757|
| 60129655745|    3423|  8589937496|
| 60129655745|    3423| 51539725757|
+------------+--------+------------+
only showing top 100 rows

In [10]:
result = result.alias("token_table").join(ngram, (col("token_table.TokenId1") == col("ngram.TokenId1")) & (col("ngram.TokenId2").isNull()))
result = result.select("Full_NgramId","Left_NgramId","NgramId").withColumnRenamed("NgramId", "Right_NgramId")      
new_table = result.show(100)

AnalysisException: Column 'token_table.TokenId1' does not exist. Did you mean one of the following? [token_table.TokenId2, token_table.Full_NgramId, token_table.Full_NgramId, TokenId1, TokenId2, Full_NgramId];
'Join Inner, (('token_table.TokenId1 = 'ngram.TokenId1) AND isnull('ngram.TokenId2))
:- SubqueryAlias token_table
:  +- Project [Full_NgramId#67L, TokenId2#59L, Full_NgramId#969L]
:     +- Join Inner, (((TokenId1#55L = TokenId1#972L) AND isnull(TokenId2#971L)) AND isnotnull(TokenId2#59L))
:        :- SubqueryAlias token_table
:        :  +- Project [NgramId#14L AS Full_NgramId#67L, TokenId1#55L, TokenId2#59L]
:        :     +- Project [NgramId#14L, TokenId1#55L, TokenId2#59L]
:        :        +- Project [NgramId#14L, TokenIds#52, TokenId1#55L, TokenIds#52[1] AS TokenId2#59L]
:        :           +- Project [NgramId#14L, TokenIds#52, TokenIds#52[0] AS TokenId1#55L]
:        :              +- Aggregate [NgramId#14L], [NgramId#14L, collect_list(TokenId#16L, 0, 0) AS TokenIds#52]
:        :                 +- Sort [NgramId#14L ASC NULLS FIRST, Position#15 ASC NULLS FIRST], true
:        :                    +- Relation [NgramId#14L,Position#15,TokenId#16L] parquet
:        +- SubqueryAlias ngram
:           +- Project [NgramId#966L AS Full_NgramId#969L, TokenId1#972L, TokenId2#971L]
:              +- Project [NgramId#966L, TokenId1#972L, TokenId2#971L]
:                 +- Project [NgramId#966L, TokenIds#52, TokenId1#972L, TokenIds#52[1] AS TokenId2#971L]
:                    +- Project [NgramId#966L, TokenIds#52, TokenIds#52[0] AS TokenId1#972L]
:                       +- Aggregate [NgramId#966L], [NgramId#966L, collect_list(TokenId#968L, 0, 0) AS TokenIds#52]
:                          +- Sort [NgramId#966L ASC NULLS FIRST, Position#967 ASC NULLS FIRST], true
:                             +- Relation [NgramId#966L,Position#967,TokenId#968L] parquet
+- Project [NgramId#1950L AS Full_NgramId#1953L, TokenId1#55L, TokenId2#1955L]
   +- Project [NgramId#1950L, TokenId1#55L, TokenId2#1955L]
      +- Project [NgramId#1950L, TokenIds#52, TokenId1#55L, TokenIds#52[1] AS TokenId2#1955L]
         +- Project [NgramId#1950L, TokenIds#52, TokenIds#52[0] AS TokenId1#55L]
            +- Aggregate [NgramId#1950L], [NgramId#1950L, collect_list(TokenId#1952L, 0, 0) AS TokenIds#52]
               +- Sort [NgramId#1950L ASC NULLS FIRST, Position#1951 ASC NULLS FIRST], true
                  +- Relation [NgramId#1950L,Position#1951,TokenId#1952L] parquet

In [ ]:
NgramId= new_table[0]["Full_NgramId"]

data = cl._CorpusLoader__data_df.where('NgramId == ' + str(NgramId)).select('Frequency')
print(data.first()['Frequency'])

NgramId= new_table[0]["Left_NgramId"]

data = cl._CorpusLoader__data_df.where('NgramId == ' + str(NgramId)).select('Frequency')
print(data.first()['Frequency'])

NgramId= new_table[0]["Right_NgramId"]

data = cl._CorpusLoader__data_df.where('NgramId == ' + str(NgramId)).select('Frequency')
print(data.first()['Frequency'])

In [ ]:
print((result.count(), len(result.columns)))

In [ ]:
print((cl._CorpusLoader__data_df.count(), len(cl._CorpusLoader__data_df.columns)))